<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
     
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-pills" style="font-size:large">
                        @Html.ActionLink("Customers",controllerName:"Customer", actionName:"ListCustomer")
                    </li>
<li class="nav-pills" style="font-size:large">
                        @Html.ActionLink("Orders",controllerName:"Order", actionName:"Index")
                    </li>
                </ul>
              
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tema 2- My ASP.NET Application</p>
        </footer>
    </div>

    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
