@model Tema2.Models.OrderModel

@{
    ViewBag.Title = "Creare";
}

<h2>Creare</h2>


@using (Html.BeginForm()) 
{
    
    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.Order.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Order.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order.Value, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Order.Value)
            </div>
        </div>

    <div class="form-group">
            @Html.LabelFor(model => model.Order.Customer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Order.Customer.CustomerId,
                                        Model.CustomerList,
                                        "Alege customer")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Creare" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Înapoi la listă", "Index")
</div>



